/* body{
  height: 100vh;
  background-color:rgb(39, 38, 38);

} */

input.input-error,
select.input-error {
    border-color: #fc8181;
    margin-left: 1cm;
}

.pswdheading {
    font-size: 28px;
    margin-left: 8rem;
    position: relative;
    top: 0rem;
}

.loginerror {
    color: #fc8181;
    font-size: 1rem;
    text-align: left;
    margin-top: 0.25rem;
}

.pswdbutton {
    position: relative;
    top: 0.7cm;
    display: block;
    /* margin: 1rem 0; */
    padding: 0.35rem 0.5rem;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 3px;
    width: 40%;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    height: 1cm;
    margin-left: 8rem;
}

.pswdlbl {
    margin-left: 1cm;
    margin-top: 15px;
}


input {
    width: 80%;
    height: 10px;
    padding: 0.65rem 0.5rem;
    /* font-size: 20px; */
    color: black;
    border: 2px solid black;
    /* background: transparent; */
    border-radius: 10px;
    outline: none;
    margin-left: 1cm;
}

.pswdform {
    margin-top: 5cm;
    width: 25rem;
    height: 15rem;
    /* background-color: antiquewhite; */
    border-radius: 15px;
    border: 1px solid gray;
    /* box-shadow: 6px 6px 10px 15px rgba(145, 83, 145, 0.2); */
    /* background-color: rgb(39, 38, 38); */
    margin-left: 12cm;
    align-items: center;

    justify-content: center;
}


a {
    color: black;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 11rem;
}